@font-face {
    font-family: 'PoppinsLight';
    src: url('fonts/PoppinsLight.eot');
    src: url('fonts/PoppinsLight.eot') format('embedded-opentype'),
         url('fonts/PoppinsLight.woff2') format('woff2'),
         url('fonts/PoppinsLight.woff') format('woff'),
         url('fonts/PoppinsLight.ttf') format('truetype'),
         url('fonts/PoppinsLight.svg#PoppinsLight') format('svg');
}
